---
import SparklesIcon from '@/icons/Sparkles.astro'
import { links } from '@/constants/social-links.js'
---

<main id="about" class="fade-in w-full flex flex-col gap-8">
  <div class="w-full flex flex-col gap-3">
    <div class="flex flex-col">
      <h1 class="text-gray-800 dark:text-gray-200 text-3xl font-bold">Elwin Roman</h1>
      <h2 class="text-amber-700 dark:text-amber-400 text-lg font-bold">Software Engineer</h2>
    </div>

    <div class="max-w-2xl flex flex-col gap-2 text-[0.94rem] text-gray-800 dark:text-gray-300">
      <p class="text-balance">
        ¡Hola! 👋 Soy un desarrollador web Frontend y entusiasta del Backend, apasionado por crear grandes cosas, con <span class="font-bold">+1 año de experiencia.</span>
      </p>
      <p class="text-balance">
        La buena arquitectura de software y el testing son mis pilares fundamentales. Creo que un código bien estructurado y robusto es la base para cualquier proyecto exitoso.
      </p>
    </div>
  </div>

  <!-- Enlaces de interes -->
  <div class="flex flex-wrap gap-3 justify-center sm:justify-start">
    <ul class="flex flex-row gap-3">
      {
        links.map(({ name, href, icon, brandColor1TailwindClass, brandColor2TailwindClass }) => (
          <li>
            <a href={href} target="_blank" class="group relative">
              <i class={`inline-block border border-dashed border-gray-100 p-1 text-amber-700 ${brandColor2TailwindClass} dark:text-amber-400 hover:text-amber-600 hover:dark:text-amber-500 hover:transition-all hover:duration-[400ms] hover:scale-110 ${brandColor1TailwindClass} hover:rounded-full hover:border-transparent`}>
                <Fragment set:html={icon}></Fragment>
              </i>
              <span class="opacity-0 absolute top-6 left-0 bg-gray-900 text-gray-200 text-[10px] whitespace-nowrap px-1 py-0.5 rounded-md pointer-events-none duration-200 group-hover:opacity-100">{name}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>

  <!-- Button ese-->
  <div class="w-fit bg-gray-50 dark:bg-transparent flex flex-row gap-1 items-center px-3 py-1 border border-white dark:border-gray-700 outline outline-1 outline-gray-200 dark:outline-none rounded-lg">
    <i class="text-emerald-500">
      <SparklesIcon width="16" height="16"/>
    </i>
    <span class="text-sm font-bold text-gray-800 dark:text-gray-300">Disponible para nuevos proyectos</span>
  </div>

</main>

<style>
  .text-balance { text-wrap: balance; }
</style>
