---
import GithubIcon from "./svgs/GithubIcon.astro"
import ExternalLinkIcon from "./svgs/ExternalLinkIcon.astro";
const {link, title, tools, description, repo, src} = Astro.props
---

<div class="project-card flex flex-col justify-between bg-white dark:bg-slate-700 shadow-xl rounded overflow-hidden hover:scale-[1.02] duration-200 transition-[transform]">
  <header class="w-full">
    <a href={link} class="relative group cursor-pointer p-0" target="_blank">
      <img
        class="group-hover:blur-[2px] duration-300" 
        src={src} 
        alt="preview web page" 
        loading="lazy">
      
      <span class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] opacity-0 group-hover:opacity-100 duration-300 text-slate-950">
        <ExternalLinkIcon width="30" height="30"/>
      </span>
    </a>
  </header>

  <main class="grow flex flex-col justify-start gap-4 px-6 py-3">
    <header class="flex flex-col gap-1">
      <h3 class="text-gray-900 dark:text-gray-300 font-semibold text-base sm:text-lg">{title}</h3>
      
      <ul class="flex flex-wrap gap-2 text-gray-500 dark:text-gray-400 text-[.7rem]">
        {
          tools.map(tool =>
            <li>{tool}</li>
          )
        }
      </ul>
    </header>

    <p class="text-balance leading-normal text-[0.85rem] text-neutral-800 dark:text-neutral-300">{description}</p>

    { repo && 
    <footer class="">
      <a href={repo} target="_blank" class="max-w-[140px] flex items-center gap-2 bg-neutral-200 dark:bg-slate-800/30 border border-transparent hover:border-neutral-400 dark:hover:border-slate-500 px-0.5 sm:px-2 py-2 fill-neutral-900 dark:fill-neutral-300 rounded mb-1 transition-[border] duration-400">
        <GithubIcon width="16" height="16" />
        <span class="text-neutral-900 dark:text-neutral-300 text-xs sm:text-[0.80rem]">Ver repositorio</span>
      </a>
    </footer> }
  </main>

</div>

<style>
  .text-balance {
    text-wrap: balance;
  }
  .project-card {
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transform: perspective(1px) translateZ(0);
  }
</style>