---
import GithubIcon from "./svgs/GithubIcon.astro"
import ExternalLinkIcon from "./svgs/ExternalLinkIcon.astro";
const {link, title, tools, description, repo, src} = Astro.props
---

<div class="flex flex-col justify-between bg-white dark:bg-slate-700 shadow-xl rounded overflow-hidden hover:scale-[1.03] duration-200">
  <header class="w-full">
    <a href={link} class="relative group cursor-pointer p-0" target="_blank">
      <img
        class="group-hover:blur-[2px] duration-300" 
        src={src} 
        alt="preview web page" 
        loading="lazy">
      
      <span class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] opacity-0 group-hover:opacity-100 duration-300 text-slate-950">
        <ExternalLinkIcon width="30" height="30"/>
      </span>
    </a>
  </header>

  <main class="grow flex flex-col justify-start gap-4 px-6 py-3">
    <header class="flex flex-col gap-1">
      <h3 class="text-gray-900 dark:text-gray-300 font-semibold text-base sm:text-lg">{title}</h3>
      
      <ul class="flex flex-wrap gap-2 text-gray-500 dark:text-gray-400 text-[.7rem]">
        {
          tools.map(tool =>
            <li>{tool}</li>
          )
        }
      </ul>
    </header>

    <p class="text-balance leading-normal text-sm text-gray-900 dark:text-gray-300">{description}</p>

    { repo && 
    <footer class="">
      <a href={repo} target="_blank" class="w-fit flex items-center gap-2 border group border-slate-500 px-1 sm:px-2 py-1 fill-gray-900 dark:fill-gray-300 rounded mb-1">
        <GithubIcon width="16" height="16" />
        <span class="text-gray-900 dark:text-gray-300 text-xs sm:text-sm group-hover:font-semibold duration-200">Ver repositorio</span>
      </a>
    </footer> }
  </main>

</div>

<style>
  .text-balance {
    text-wrap: balance;
  }
</style>